.container {
  margin-top: 5vh;
}
.title {
  color: white;
}
.btn {
  background-color: #EE171F;
  margin: 0vw 1vw;
  border: none;
}
.btn:hover, 
.btn:active, 
.btn:focus{
  color: white;
  background-color: #EE171F;
  box-shadow: none;
}